
  #navigationBar {
    background: white;
    box-shadow: 0px 1px 5px 5px #ddd;
    height: auto;
    text-align: center;
    width: 100%;
  }

  #navigationBar>ul>li {
    display: inline;
  }

  li>a {
    color: red;
    display: inline-block;
    margin: 0px;
    padding: 0px 15px;
    text-decoration: none;
    transition: color 0.3s ease-in;
    height: 60px;
    line-height: 60px;
  }

  li>a:hover {
    color: purple;
  }

  .thisboi {
    color: red;
    display: inline-block;
    margin: 0px;
    padding: 0px 15px;
    text-decoration: none;
    transition: color 0.3s ease-in;
    height: 60px;
    line-height: 60px;
  }
